@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/reset.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.popup {

    &__container {
        position: relative;
        min-height: min-content;
        box-sizing: border-box;
        // background-color: lightgray;
        // height: 70vh;
        top: 1rem;
        left: 0rem;
    }

    &__company-name {
        @include page-header;
        padding-bottom: .5rem
    }

    &__address {
        @include subheader;
        font-size: 1.5rem
    }

    &__description {
        @include body-large;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    &__duration {
        @include subheader;
        padding-bottom: .5rem;
    }

    &__header {
        @include label-links-buttons;
        font-size: 1.25rem;
    }

    &__trade {
        @include body-large;
    }

    &__email {
        @include label-links-buttons;
    }

    &__phone {
        @include label-links-buttons;
    }

    &__link {
        text-decoration: underline;
        text-decoration-color: $hover-colour ;
        text-decoration-thickness: 2px;
    }

}