@use "./variables.scss" as *;
@use "./fonts.scss" as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin page-header {
    color: $primary-text;
    font-size: 2rem;
    line-height: 2.25rem;
    font-family: $text-family;
    font-weight: $text-bold;

    @include tablet {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    @content;
}

@mixin subheader {
    color: $primary-text;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: $text-family;
    font-weight: $text-bold;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @content;
}

@mixin label-links-buttons {
    color: $primary-text;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: $text-family;
    font-weight: $text-bold;
    text-transform: uppercase;

    @include tablet {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    @content;
}

@mixin table-header {
    color: $secondary-text;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-family: $text-family;
    font-weight: $text-bold;
    text-transform: uppercase;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    @content;
}

@mixin body-large {
    color: $primary-text;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-family: $text-family;
    font-weight: $text-regular;

    @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    @content;
}

@mixin body-medium {
    color: $primary-text;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-family: $text-family;
    font-weight: $text-regular;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    @content;
}

@mixin body-small {
    color: $primary-text;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-family: $text-family;
    font-weight: $text-regular;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    @content;
}

@mixin input-field {
    border: 0.1875rem solid $hover-colour;
    border-radius: 2rem;
    padding: (0.5rem 0 .5rem .5rem);
    box-sizing: border-box;

    @content;
}

@mixin button {
    padding: 0.25rem .5rem;
    min-width: 7rem;
    background-color: $primary-colour ;
    border: 3px solid $hover-colour;
    border-radius: 2.5rem;
    // max-height: 2rem;


    @include label-links-buttons {
        font-size: 1rem;
        line-height: 1;
    }

    ;
    text-transform: uppercase;

    &:hover {
        background-color: $hover-colour;
        color: $primary-colour;
        border: 3px solid $primary-colour;
        cursor: pointer;
    }

    @content;
}