$primary-colour: #CC958F;
$primary-background-colour: #ECF4FE;
$hover-colour: #A57982;
$primary-text: #1C2221; //black
$component-colour: #000000;
$secondary-text: #404F4D;
$border-colour: #8BBCF9;
$secondary-background-colour: #C9E4CC;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$text-family: 'Avenir', Arial, sans-serif;
$text-bold: 600;
$text-regular: 400;