$primary-colour: #0095FF;
$primary-background-colour: #FFFFFF;
$hover-colour: #0065AD;
$primary-text-colour: #323232; //black
$component-colour: #000000;
$secondary-text-colour: #AFAFAF; //silver
$border-colour: #E1E1E1; //mercury
$secondary-background-colour: #FAFAFA; //alabaster

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;