$primary-colour: #CC958F;
$primary-background-colour: #ECF4FE;
$hover-colour: #A57982;
$primary-text-colour: #1C2221; //black
$component-colour: #000000;
$secondary-text-colour: #404F4D;
$border-colour: #8BBCF9;
$secondary-background-colour: #C9E4CC;
// $primary-background-colour: #ECF4FE;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;