@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/reset.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.nav {


    &__section {
        box-sizing: border-box;
        width: 100%;
        background-color: $primary-background-colour;
        box-sizing: border-box;
        padding: 1rem 2.5%;
        border-bottom: 4px solid $hover-colour;


    }

    &__top-bar {
        display: flex;
    }

    &__log-in {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-end;
        gap: 1rem;

        @include tablet {
            padding-bottom: 1rem;
        }
    }

    &__logo {
        height: 2.5rem;

        @include tablet {
            height: 3rem;
        }
    }

    &__button {
        @include button {
            height: 2rem;

            @include tablet {
                height: 2.5rem;
            }
        }
    }

    &__title {
        @include page-header;
        box-sizing: border-box;
        text-align: center;

        // @include tablet {
        //     padding-bottom: 2rem;
        // }
    }
}