@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/reset.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.footer {
    background-color: $secondary-background-colour;
    border-top: 4px solid $border-colour;
    padding: (1rem 2.5% 0rem 2.5%);
    box-sizing: border-box;
    color: $secondary-text;

    @include tablet {
        padding: 1rem 5% 0 5%;
    }

    &__title {
        font-size: 1.125rem;
        color: $secondary-text;


        &--contact {
            font-size: 1.125rem;
            text-transform: uppercase;
            margin: (.5rem 0);
            border-bottom: 2px $border-colour solid;
            width: fit-content;
            color: $secondary-text;
        }
    }

    &__contact-section {
        display: flex;
        justify-content: space-between;
        color: $secondary-text;
    }

    &__icons {
        display: flex;
        position: relative;
        top: -1rem;

        &--linkedin {
            height: 2.5rem;
            padding-left: 2rem;
        }

        &--github {
            height: 2.5rem;
        }
    }

}