@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/reset.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.home {
    background-color: white;
    padding: 5%;
    box-sizing: border-box;

    &__title {
        text-align: center;

        @include page-header;

        &--search {
            @include tablet {
                padding-left: 5%;
            }
        }
    }

    &__map--containers {
        position: relative;
        // width: 90vw;
        // height: 90vw;

        // box-sizing: border-box;
        // position: relative;
        // border: 3px solid $border-colour;
        // border-radius: 2rem;
        // background: url("../../assets/images/stockmap.jpeg");
        // background-size: contain;

        // @include tablet {
        //     width: 80%;
        //     height: 80%;
        // }
    }

    &__search--map {
        @include tablet {
            width: 60vw;
        }
    }

    &__media-queries {
        display: flex;
        flex-direction: column;

        @include tablet {
            // flex-direction: row-reverse;
        }
    }
}

.search {
    height: 3rem;
    display: flex;
    gap: 5%;
    padding-top: 1rem;

    &__input {
        height: 2rem;
        width: 60%;
        box-sizing: border-box;
        border: 3px solid $border-colour;
        background-color: $primary-background-colour;
        border-radius: 1rem;
        padding-left: 1rem;
    }

    &__button {
        height: 1.75rem;
        width: 3rem;
        box-sizing: border-box;
        background-color: $primary-colour;
        border: 3px solid $hover-colour;
        background-image: url("../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: (.9rem 0.2rem);
        border-radius: 2rem;

        &:hover {
            background-color: $hover-colour;
            color: $primary-colour;
            border: 3px solid $primary-colour;
            cursor: pointer;
        }
    }
}

// .result {
//     margin-top: 1rem;
//     margin-bottom: 2rem;
//     box-sizing: border-box;
//     @include tablet {
//         width: 40%;
//     }

//     &__title {
//         text-transform: uppercase;
//         max-width: fit-content;
//         border-bottom: 2px solid $hover-colour;
//         &--name {
//             font-size: 1.5rem;
//         }

//         &--small {
//             font-size: 1.25rem;
//         }
//     }
//     &__labour {
//         padding-top: .5rem;
//     }
//     &__button--container {
//         box-sizing: border-box;
//         margin-top: 1rem;
//     }
//     &__apply-button {
//         box-sizing: border-box;
//         background-color: $primary-colour;
//         border-radius: 2rem;
//         border: 3px solid $hover-colour;
//         text-transform: uppercase;
//         font-weight: bold;
//         padding: (.25rem .5rem .25rem .5rem);
//     }
// }