@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/reset.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.home {
    background-color: rgba(255, 254, 254, 0.89);
    padding: 2.5%;

    &__title {
        text-align: center;

    }

    &__map {
        width: 100%;
        height: 90vw;
        box-sizing: border-box;
        position: relative;
        border: 3px solid $border-colour;
        border-radius: 2rem;
        background: url("../../assets/images/stockmap.jpeg");
        background-size: contain;
    }
}

.red-dot {
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;


    &--1 {
        top: 40%;
        left: 40%;
    }

    &--2 {
        top: 70%;
        left: 30%;
    }

    &--3 {
        top: 60%;
        left: 80%;
    }

}

.search {
    height: 3rem;
    display: flex;
    gap: 5%;
    padding-top: 1rem;

    &__input {
        height: 2rem;
        width: 60%;
        box-sizing: border-box;
        border: 3px solid $border-colour;
        background-color: $primary-background-colour;
        border-radius: 1rem;
        padding-left: 1rem;
    }

    &__button {
        height: 28px;
        width: 3rem;
        box-sizing: border-box;
        background-color: $primary-colour;
        border: 3px solid $hover-colour;
        background-image: url("../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: (.9rem 0.2rem);
        border-radius: 2rem;

        &:hover {
            background-color: $hover-colour;
            color: $primary-colour;
            border: 3px solid $primary-colour;
            cursor: pointer;
        }
    }
}

.result {
    margin-top: 1rem;

    &__title {
        text-transform: uppercase;

        &--name {
            font-size: 1.5rem;
        }

        &--small {
            font-size: 1.25rem;
        }
    }


}